#Example of a gitignore

# Ignore Virtual Environment Directories
clustering_env/
venv/
env/
.virtualenv/
__pycache__/

# Ignore Python compiled files (optional)
*.pyc
*.pyo
*.pyd

# Ignore Image Files
*.nii
*.nii.gz
*.png

# Ignore csv files
*.csv
*.xlsx

#Ignore tfm
*.tfm

#Ignore .mat
*.mat